<!DOCTYPE html>
<html>
<head>
  <title>Habit.at</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet" type="text/css">
  <link href="/../style.css" rel="stylesheet">
</head>
<body>

  <% include partials/header %>

  <div id="content" class="container">

    <div class="row box">
      <div class="col-md-12">


    <div class="row">
      <div class="col-md-4">
        <h1><%=admins[0].name%></h1>
      </div>
      <div class="col-md-2 col-md-offset-6">
        <form method="GET" action="/households/<%=admins[0].household_id%>/tasks/">
          <button class="btn btn-block btn-warning">View All Tasks</button>
        </form>
        <form method="GET" action="/households/<%=admins[0].household_id%>/tasks/new">
          <button style="margin-top:5%" class="btn btn-block btn-success">Add Tasks</button>
        </form>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-2">
        <h2><strong>Owner(s)</strong></h2>
      </div>
    </div>

    <hr>

    <% admins.forEach(function(admin) { %>

      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <h3><%=admin.first_name%> <%=admin.last_name%></h3>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <form method="GET" action="/households/<%=admin.household_id%>/users/<%=admin.id%>">
            <button class="btn btn-block btn-info" style="margin-top:6%">View Tasks</button>
          </form>
        </div>
      </div>

    <% }); %>

    <div class="row">
      <div class="col-md-2">
        <h2><strong>Member(s)</strong></h2>
      </div>
    </div>

    <hr>

    <% if (members) { %>
      <% members.forEach(function(member) { %>

        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <h3><%=member.first_name%> <%=member.last_name%></h3>
          </div>
          <div class="col-md-2 col-md-offset-2">
            <form method="GET" action="/households/<%=member.household_id%>/users/<%=member.id%>">
              <button class="btn btn-block btn-info" style="margin-top:6%">View Tasks</button>
            </form>
          </div>
          <div class="col-md-2">
            <form method="POST" action="/households/<%=member.household_id%>/users/<%=member.id%>?_method=PUT">
              <button class="btn btn-block btn-primary" style="margin-top:6%">Make Admin</button>
            </form>
          </div>
          <div class="col-md-2">
            <form method="POST" action="/households/<%=member.household_id%>/users/<%=member.id%>?_method=DELETE">
              <button class="btn btn-block btn-danger" style="margin-top:6%">Remove Member</button>
            </form>
          </div>
        </div>

      <% }); %>
    <% } %>

    </div>
  </div>
</div>
</div>


  <% include partials/footer %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
