<!DOCTYPE html>
<html>
<head>
  <title>Habit.at</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">
  <link href="../style.css" rel="stylesheet">
</head>
<body>

  <% include partials/header %>

  <div id="content" class="container">

    <div class="row">
      <h1>Household Name</h1>
      <button><a href="/logout">logout</a></button>
      <hr>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <h2>Owner</h2>
      </div>
    </div>

    <% admins.forEach(function(admin) { %>

      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <h3><%=admin.first_name%> <%=admin.last_name%></h3>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <form method="GET" action="/households/<%=admin.household_id%>/users/<%=admin.id%>/tasks">
            <button class="btn btn-block btn-info" style="margin-top:6%">View Tasks</button>
          </form>
        </div>
        <div class="col-md-2">
          <form method="GET" action="/households/<%=admin.household_id%>/tasks/new">
            <button class="btn btn-block btn-success" style="margin-top:6%">Add Tasks</button>
          </form>
        </div>
      </div>

    <% }); %>

    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <h2>Members</h2>
      </div>
    </div>

    <% members.forEach(function(member) { %>

      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <h3><%=member.first_name%> <%=member.last_name%></h3>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <form method="GET" action="/households/<%=member.household_id%>/users/<%=member.id%>/tasks">
            <button class="btn btn-block btn-info" style="margin-top:6%">View Tasks</button>
          </form>
        </div>
        <div class="col-md-2">
          <form method="GET" action="/households/<%=member.household_id%>/tasks/new">
            <button class="btn btn-block btn-success" style="margin-top:6%">Add Tasks</button>
          </form>
        </div>
        <div class="col-md-2">
          <button class="btn btn-block btn-danger" style="margin-top:6%">Remove Member</button>
        </div>
      </div>

    <% }); %>

    </div>
  </div>

  <% include partials/footer %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
