<!DOCTYPE html>
<html>
<head>
  <title>Habit.at</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet" type="text/css">
  <link href="/../style.css" rel="stylesheet">
</head>
<body>

  <% include partials/header %>

  <div class="container" style="margin-top:8%">
    <div class="row box">
      <div class="col-md-12">


    <div class="row">
      <div class="col-md-4">
        <h1><%=user.first_name%>'s Tasks</h1>
      </div>
    </div>
    <hr>
    <table class="table table-hover">
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th></th>
        <th></th>
      </tr>
      <% tasks.forEach(function(task) { %>
        <tr>
          <td>
            <form method="POST" action="/households/<%=user.household_id%>/users/<%=user.id%>/tasks/<%=task.id%>/toggle?_method=PUT">
              <% if (task.is_complete) { %>
                <button class="btn btn-sm btn-block btn-success">Complete!</button>
              <% } else { %>
                <button class="btn btn-sm btn-block btn-danger">Incomplete!</button>
              <% } %>
            </form>
          </td>
          <td><%=task.title%></td>
          <td><%=task.description%></td>
          <td><%=task.due_date%></td>
          <% if (user.is_admin) { %>
            <td>
              <form method="GET" action="/households/<%=user.household_id%>/users/<%=user.id%>/tasks/<%=task.id%>/edit">
                <button class="btn btn-sm btn-block btn-success">Edit</button>
              </form>
            </td>
            <td>
              <form method="POST" action="/households/<%=user.household_id%>/users/<%=user.id%>/tasks/<%=task.id%>?_method=DELETE">
                <button class="btn btn-sm btn-block btn-danger">Delete</button>
              </form>
            </td>
          <% } %>
        </tr>
      <% }); %>
    </table>

    <form method="GET" action="/households/<%=user.household_id%>/tasks">
      <button class="btn btn-primary btn-block">View Household Tasks</button>
    </form>
  </div>
</div>

</div>

  <% include partials/footer %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
